# node_modules
# # Keep environment variables out of version control
# .env

# /generated/prisma



# node_modules/
# .env
# .prisma
# *.log


# node_modules/.prisma/
# prisma/migrations/*/migration_lock.toml

# dependencies
node_modules/

# environment
.env

# prisma
prisma/migrations/migration_lock.toml
node_modules/.prisma/

# logs
*.log
